<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <!-- <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <app-employee-card [employee]="employee"></app-employee-card>
    </div> -->
      <app-employee-card class="col" *ngFor="let employee of employees" [employee]="employee"></app-employee-card>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
<a href="https://generated.photos/" target="blank">Photo by Generated Photos</a>
